.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.d-flex div{
  padding: 1rem;
  background-color:  rgb(136, 24, 200);
  color: #fff;
  text-align: center;
  font-size: 1rem;
  margin-top: 10px;
}

.example-parent{
  border: 1px solid rgb(136, 24, 200);
}

.tiform {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(136, 24, 200) ;
}

.form-add {
  display: grid;
  margin-bottom: 5px;
}

.but {
  margin-top: 10px;
}
